<div *ngIf="project">
    
<h3>{{project.name}}</h3>
<div class="project-infos" >
<div title="Nombre de forks"><img style="width:10px;"src="https://user-images.githubusercontent.com/17777237/54873012-40fa5b00-4dd6-11e9-98e0-cc436426c720.png">
    {{project.forks_count}}</div>
<div class="watchcount" title="Nombre de watchers">
    <img style="width:10px;"src="https://repository-images.githubusercontent.com/1388070/5a02e480-bc86-11ea-9911-3ee27dcd5070">
    {{project.watchers_count}}</div>
</div>
<p><span class="info-title">Description :</span> {{project.description}}</p>
<p> <span class="info-title">Modifié le :</span> {{project.updated_at | date:'d/MM/yyyy à HH:mm ' :'+0200'  }}</p>
<p><span class="info-title">Langage principal :</span> {{project.language}}</p>
<p><span class="info-title">License :</span> {{project.license.name}}</p>
</div>