.header {
  background-color: cornflowerblue;
  margin: 0;
  padding: 10px;
  box-shadow: 0px 3px 10px grey;
}

h1 {
  margin: 0;
}

.project-card {
  background-color: lightblue;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  max-width: 400px;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-buttons {
  border-radius: 5px;
  background-color: white;
  border-width: 2px;
  border-color: teal;
}

.page-changer {
  margin: 5px;
  background-color: white;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
}
