<div class="header">
  <h1>Liste des projets google</h1>
 <div class="page-changer">Page:
<button class="page-buttons" (click)="previousPage()"><</button>
{{pageNumber}}
<button class="page-buttons" (click)="nextPage()">></button>
</div>
</div>
<div class="project-list">
<div *ngFor="let proj of projects" class="project-card">
  <app-project-view [project]="proj"></app-project-view>
</div>
</div>
<router-outlet></router-outlet>